.title{
    font-size: 42px;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{

    display: flex;
    text-align: center;
    margin: 10px;
}

.card{
  
   width: 22rem;
   margin: 15px;
   
}
.card-img-top{

    width: 15rem;
    margin-left: 35px;
}

